# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.tar
*.tar.gz
*.tar.bz2
go.work
go.work.sum
release/*
build/
/_obj/
/_test/
/vendor/
/Godeps/
/.glide/
/.idea/
/.vscode/

# OS specific
.DS_Store
Thumbs.db

conf.yml
/svc
